body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0;
    background-color: #1B4242;
    margin-top: 5em;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}



.lesson-content{
    flex-grow: 1;
    text-align: center;
    color: white;
}

.lesson-content h1{
    color: white;
    font-size: 4em;
    margin-top: 80px;
}

.lesson-content h3{
    color: white;
    font-size: 3em;
    
}

.lesson-content p{
    display:block;
    font-size: 25px;
    color: white;
}


/*Footer styles*/
