body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0;
    background-color: #1B4242;
    
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* Header styles */

/*body styles*/

.login-form{
    margin-left:75px;
    width: 370px;
    height: 150px;
}

.login-form label{
    display:block;
    margin-bottom: 8px;
    color: white;
}

.login-form input{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-form button{
    background-color: #237272;
    color: white;
    padding: 18px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
}

.login-form button:hover{
    background-color: #575757;
}

.login-logo{
    width: 250px;
    height: auto;
    margin-top: 20px;
    margin-left: 30px;
    border-radius: 5px;
}
.grid-container{
    margin:200px;
    display: grid;
    grid-template-columns: 75% 75%;
}
.link.login-link {
    color: greenyellow;
}

.link.login-link:link {
    color: greenyellow;
}

.link.login-link:visited {
    color: rgb(169, 204, 110);
}

.link.login-link:hover {
    color: rgb(131, 245, 147);
    background-color: transparent;
    text-decoration: underline;
}

.link.login-link:active {
    color: rgb(30, 255, 0);
    background-color: transparent;
    text-decoration: underline;
}
/*Footer styles*/