body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding-top: 0;
    background-color: #1B4242;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.italic{
    font-size: 24px;
    font-style: italic;
}
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    unicode-bidi: isolate;
}

/* Header styles */
header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #333;
    z-index: 1000;
}

/* Navigation bar styles */
.topnav {
    display: flex;
    justify-content: space-between;
    background-color: #5C8374;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.logo img {
    height: 50px; /* Adjust the height as needed */
    border-radius: 10px;
    
}
.topnav ul {
    list-style-type: none;
    margin: 0;
    padding-top: 15px;
    display: flex;
}

.topnav ul li {
    margin: 0 1em;
}

.topnav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 0.5em 1em;
    transition: background-color 0.3s ease;
}
.topnav ul li a.active {
    background-color: #092635;
    border-radius: 20px;
    border: 2px solid #092635; 
}
.topnav ul li a.signup{
    
    background-color: #145f16;
    border-radius: 10px;
    border: 2px solid #145f16; 
}

.topnav ul li a:hover {
    background-color: #575757;
    border-radius: 4px;
}

/* Main content styles */
.main{
    text-align: left;
    color: #ffffff;
    padding: 50px 108px;
    padding-bottom: 9.8em
}


/* Footer styles */
.footer {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #092635;
    color: #9EC8B9;
    transition: bottom 0.2s ease-in-out;
}
.nav-down {
    bottom: -40px;
}
.footer-p{
    align-items: center;
    text-align: center;
}
.footer-icons{
    text-align: right;
    background: #dd4b39;
    color: white;
}
.footer-grid-container {
    display: grid;
    grid-template-columns: 33.33% 33.33% 33.33%;
    padding: 30px;
    font-size: 0.8em;
    align-items: center;
    text-align: center;

    
}
.footer-custom-border{
    border-style: double;
    border-top: none;
    border-bottom: none;
    border-color: #9EC8B9;
}
.footer-grid-content a {
    text-decoration: none;
    color: #242424;
    text-decoration: underline;
    
}
.footer-grid-item p{
    text-align: center;
    margin: 0px;
}
/*Unused grid code*/

/*Footer Icons*/
.fa{
    padding: 20px ;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin-left: 10px;
    margin: 5px 2px;
    border-radius: 10%;
}
.fa:hover{
    transition: .5s ease;
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    color: white;
}
.fa-google{
    background: #dd4b39;
    color: white;
}
.fa-youtube{
    background: #fe0000;
    color: white;
}
.fa-twitter{
    background: #55ACEE;
    color: white;
}